.memeModel{
    background-color: #AAAAAA;
    margin-bottom: 20px;
}

.img-preview {
    float: left;
    width: 50%;
}

.template-search {
    float: right;
    width: 50%;
}

/*
.memeModel{
    height: 500px;
    width: 500px;
}

img.memeImage{
    height: auto;
    width: auto;
}
*/